
<div style="display:flex; height: 750px; justify-content: center; align-items: center;">
<div class="main-container">
  <div class="selecection-container">
    <select #c1 name="" id="contry1" (mouseleave)="changebase(c1.value)">
        <option value="USD"> US Dollor</option>
        <option value="UAH,"> Ukrainian hryvnia </option>
        <option value="EUR"> Euro</option>
    </select>
    <p>to</p>
    <select #c2 name="" id="contry1" (mouseleave)="tocountry(c2.value)" >
      <option value="USD"> US Dollor</option>
      <option value="UAH,"> Ukrainian hryvnia </option>
      <option value="EUR"> Euro</option>
  </select>
  </div>
  <button (click) ="convert()"> Sumbit </button>
  <div class="result-container">
    <p>1 {{base}}</p>
    <p>=</p>
    <p>{{result}} {{cont2}} </p>
  </div>
</div>
</div>